/*Comentario
El . es para llamar a clases
*/

:root{
    --blanco: #ffffff;
    --oscuro: #212121;
    --primario: #ffc107;
    --secundario: #0097a7;
    --gris: #757575;
}


html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    background-color: antiquewhite;
}


.titulo{
text-align: center;
font-size: 3.8rem;
}
.titulo span{
font-size: 2rem;
}

.navegacion-principal{
    background-color: var(--secundario);
    display: flex; /*Flexbox esta dise単ado para alinear elementos en los dise単os*/
    /*justify-content para FILAS/ align-item es para COLUMNAS (flex-direction)*/
    justify-content: space-between;
    font-weight: bold; /*Negritas en texto*/
    font-size: 2rem;
    flex-direction: column;
    align-items: center;
}
/*Al poner el cursor en el hipervinculo*/
.navegacion-principal a:hover{
    background-color: var(--primario);
    color: var(--oscuro);
}
.navegacion-principal a{
    color: var(--blanco);
    text-decoration: none;/*Remueve el estilo subrayado en el texto*/
    padding: 1rem;
}

/*MArgin es por fuera y padding es por dentro*/
.contenedor{
    max-width: 120rem;/*1200 pixeles porque 1 rem =  10px*/
    margin: 0 auto;
}
.nav-bg{
    background-color: var(--secundario);
}

/*Recomendado
480px para moviles
780px para tablets*/


@media (min-width: 480px){
    body {
        background-color: blue;
    }
}
@media (min-width: 768px){
    body {
        background-color: cornflowerblue;
    }
}

@media (min-width: 768px){
.navegacion-principal{
    flex-direction: row;
    justify-content: space-between;
    }
    }

.hero{
    background-image: url(../img/hero.jpg);/* ../ es para regresar un nivel de directorio ya que la carpeta img esta afuera de "css"*/
    background-repeat: no-repeat; /* Sirve para evitar la repeticion de la imagen cuando es peque単a*/
    background-size: cover;/*Sirve para cubrir la imagen con todo el tama単o posible*/ 
}

